.navbar a {
    color: aliceblue;
}

.asideNav{
    width: 250px;
    height: 100vh;
    background-color: rgba(248, 248, 248);
    font-size: 20px;
    border-right: 1px solid lightgray;;

}

.asideNav a{
    display: block;
    color:rgba(88, 88, 88);
    text-decoration: none;
    padding-left: 15px;
    line-height: 2.5;
}

.asideNav > div{
    border-bottom: 1px solid lightgray;
    padding-left: 15px;
    line-height: 2.5;
}

.asideNav > div::before{
    content: '';
    position: absolute;
    left: 0;
    /* background-color: #629cc9; */
    background: url('../img/bg.png');
    overflow: hidden;
    max-width: 7px;
    width: 7px;
    height: 51px;
    z-index: 1;
    display: none;

}

.asideNav > div:hover::before{
    display: block;
}

.asideNav div:hover{
    background-color: #ffffff;
    
}

.drop-down{
    color: #fff;
    margin-right: 15px;
    position: relative;
    z-index: 1;
    display: block;
    cursor: pointer;
}

.drop-down::before{
    content: '';
    width: 50px;
    height: 50px;
    background-color: rgba(55, 55, 55);
    position: absolute;
    left: -18px;
    top: -10px;
    border-radius: 50px;
    z-index: -1;
    box-shadow: 0 0 2px #fff;
}

.down-content{
    position: absolute;
    right: 18px;
    top:68px;
    width: 300px;
    background-color: rgba(55, 55, 55);
    color: rgba(248, 248, 248);
    border-radius: 7px;
    box-shadow: 0 0 2px #fff;
    z-index: 999;
    display: none;
}

.down-content ul{
    list-style-type: none;
    padding: 0;
}

.down-content li:hover{
    background-color: rgba(75, 75, 75)
}

.down-content a {
    line-height: 2;
    display: block;
    text-decoration: none;
}

.down-content .fa-solid {
    margin: 20px;
}